body{
    margin:0;

}
nav{
  text-align:right;
}
nav ul{
    
    background-color: rgb(65, 65, 65);
    margin:0;
    padding:0;
    list-style-type:none;

    border-bottom: 5px solid #ddd;
    
  }
  
  nav li {
    display: inline-block;
  }
  
  nav li a {
    display:block;

    font-size: 20 px;
    color: white;
    text-decoration: none;
    padding: 30px 30px;

    border-right: 1px solid #383636;
   
    
  }
  
  /*Makes navbar change color when hovering*/
  ul li:hover {
    background: rgb(143, 141, 141);

  }


  .footer{
  position:fixed;
  left: 0;
  bottom: 0;
  width: 100%;

justify-content: center;
  background-color: red;
  color: white;
  }

  #adress{
  text-align: center;
  justify-content: center;
  }

  #kontaktinfo{
text-align: left;
  }

  #oppettider{
text-align: right;

  }